body {
    background-image: url('images/background.png'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .footer img {
    max-width: 100%;
    height: auto;
  }

.bg-cloud {
  background-image: url('images/homepage.jpg'); 
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.btn-outline-secondary {
  color: black;
  border-color: black;
}
