.u-section-1 .u-sheet-1 {
  min-height: 1327px;
}

.u-section-1 .u-shape-1 {
  width: 778px;
  height: 754px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 300px auto 0 0;
}

.u-section-1 .u-shape-2 {
  width: 908px;
  height: 800px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -990px 0 0 auto;
}

.u-section-1 .u-image-1 {
  width: 967px;
  height: 702px;
  object-position: 0% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: -300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -693px auto 0 56px;
}

.u-section-1 .u-shape-3 {
  width: 275px;
  height: 275px;
  background-image: none;
  margin: -137px 0 0 auto;
}

.u-section-1 .u-group-1 {
  width: 641px;
  min-height: 517px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  margin: -263px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 40px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 15px 160px 0 9px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1299px;
  }

  .u-section-1 .u-shape-1 {
    width: 694px;
    height: 596px;
    margin-top: 293px;
  }

  .u-section-1 .u-shape-2 {
    width: 794px;
    height: 700px;
    margin-top: -832px;
  }

  .u-section-1 .u-image-1 {
    width: 762px;
    height: 592px;
    margin-top: -597px;
    margin-left: 62px;
  }

  .u-section-1 .u-shape-3 {
    width: 237px;
    height: 238px;
    margin-top: -91px;
  }

  .u-section-1 .u-group-1 {
    width: 601px;
    min-height: 501px;
    margin-top: -159px;
    margin-bottom: 58px;
    height: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-right: 129px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1277px;
  }

  .u-section-1 .u-shape-1 {
    width: 529px;
    height: 454px;
    margin-top: 339px;
  }

  .u-section-1 .u-shape-2 {
    width: 619px;
    height: 602px;
    margin-top: -728px;
  }

  .u-section-1 .u-image-1 {
    width: 610px;
    height: 474px;
    margin-top: -464px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 297px;
  }

  .u-section-1 .u-group-1 {
    width: 579px;
    min-height: 483px;
    margin-top: -607px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1170px;
  }

  .u-section-1 .u-shape-1 {
    width: 500px;
    height: 429px;
    margin-top: 191px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-2 {
    width: 475px;
    height: 529px;
    margin-top: -555px;
  }

  .u-section-1 .u-image-1 {
    width: 475px;
    height: 369px;
    margin-top: -478px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 383px;
  }

  .u-section-1 .u-group-1 {
    width: 475px;
    min-height: 486px;
    margin-top: -568px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 120px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1074px;
  }

  .u-section-1 .u-shape-1 {
    width: 285px;
    height: 360px;
    margin-top: 53px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    width: 325px;
    height: 352px;
    margin-top: -352px;
  }

  .u-section-1 .u-image-1 {
    width: 268px;
    height: 208px;
    margin-top: -315px;
    margin-right: 23px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-3 {
    width: 121px;
    height: 121px;
    margin-top: 132px;
  }

  .u-section-1 .u-group-1 {
    min-height: 430px;
    margin-top: 32px;
    margin-bottom: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 25px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1100px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 845px;
  margin: 38px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 3rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 90px 442px 0 auto;
}

.u-section-2 .u-text-4 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 48px 127px 0 169px;
}

.u-section-2 .u-text-5 {
  font-size: 3rem;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 55px 453px 0 auto;
}

.u-section-2 .u-text-6 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 21px 120px 60px 176px;
}

.u-section-2 .u-list-icon-1 {
  color: rgb(244, 67, 54) !important;
}

.u-section-2 .u-list-icon-2 {
  color: rgb(244, 67, 54) !important;
}

.u-section-2 .u-list-icon-3 {
  color: rgb(244, 67, 54) !important;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-3 {
    margin-right: 364px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 27px;
    margin-left: 69px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 373px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 20px;
    margin-left: 76px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 279px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 286px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 209px;
  }

  .u-section-2 .u-text-5 {
    font-size: 2.25rem;
    margin-right: 215px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    font-size: 2.25rem;
    margin-right: 132px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.875rem;
    margin-right: 135px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 176px;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  margin: 62px 842px 0 18px;
}

.u-section-3 .u-social-icons-1 {
  white-space: nowrap;
  height: 44px;
  min-height: 16px;
  width: 152px;
  min-width: 68px;
  margin: -44px auto 60px 258px;
}

.u-section-3 .u-icon-1 {
  height: 32px;
  color: rgb(47, 102, 254) !important;
}

.u-section-3 .u-icon-2 {
  height: 32px;
}

.u-section-3 .u-icon-3 {
  height: 44px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 660px;
    margin-left: 0;
    width: 280px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 440px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 260px;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 60px;
  }
}