{% extends "base.html" %}
{% block title %}Changed{% endblock %}

{% block content %}
<div class="position-relative overflow-hidden p-md-5 mt-md-5 text-center bg-cloud">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Show and Tell.</h1>
    <p class="font-weight-bold">
      An Online Image-to-text AI tool that aims to revolutionize the way children learn through visual understanding.
    </p>
    <a class="btn btn-outline-secondary text-black" href="/about-us">About Us</a>
  </div>
</div>
{% endblock %}