{% extends "base.html" %}
{% block title %}Account Detail{% endblock %}

{% block content %}
  <style>
    .main h2 {
      font-size: 30px;
      text-align: center;
    }
    .main .card {
      width: 80%;
      background-color: #fff;
      margin-left: auto;
      margin-right: auto;
      padding: 20px 20px 40px;
    }
    .main .card table {
      border: none;
      font-size: 18px;
      height: 300px;
    }
    .popup, .popupedit, .popupd {
      display: none;
      position: fixed;
      padding: 10px;
      width: 280px;
      left: 50%;
      margin-left: -150px;
      height: 180px;
      top: 50%;
      margin-top: -100px;
      background: #FFF;
      border: 3px solid #F04A49;
      z-index: 20;
    }
    .popup:after, .popupedit:after, .popupd:after {
      position: fixed;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0,0,0,0.5);
      z-index: -2;
    }
    .popup:before, .popupedit:before, .popupd:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: #FFF;
      z-index: -1;
    }
  </style>
<script>
  function togglePopup() {
    var popup = document.getElementById("popup");
    popup.style.display = (popup.style.display === "none" || popup.style.display === "") ? "block" : "none";
  }
  
  function toggleEditPopup() {
    var popup = document.getElementById("popupedit");
    popup.style.display = (popup.style.display === "none" || popup.style.display === "") ? "block" : "none";
  }
  
  function toggleDeletePopup() {
    var popup = document.getElementById("popupd");
    popup.style.display = (popup.style.display === "none" || popup.style.display === "") ? "block" : "none";
  }

  function redirectToDifferentPage(url) {
    window.location.href = url;
  }
</script>
<body>
    <div class="main">
      <h2>User Account</h2>
      <div class="card">
        <table>
          <tr>
            <td>Role</td>
            <td>:</td>
            <td>{{ role }}</td>
          </tr>
          <tr>
            <td>Username</td>
            <td>:</td>
            <td>{{ username }}</td>
          </tr>
          <tr>
            <td>Name</td>
            <td>:</td>
            <td>{{ name }}</td>
          </tr>
          <tr>
            <td>Surname</td>
            <td>:</td>
            <td>{{ surname }}</td>
          </tr>
          <tr>
            <td>Contact</td>
            <td>:</td>
            <td>{{ contact }}</td>
          </tr>
          <tr>
            <td>Date Of Birth</td>
            <td>:</td>
            <td>{{ date_of_birth }}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>:</td>
            <td>{{ email }}</td>
          </tr>
          <tr>
            <td>Address</td>
            <td>:</td>
            <td>{{ address }}</td>
          </tr>
          <tr>
            <td>Password</td>
            <td>:</td>
            <td>********</td>
          </tr>
          <tr>
            <td>
              <div class="popup-container">
                <button class="btn btn-primary" onclick="togglePopup()">Change User's Password</button>    
                <div class="popup" id="popup">
                  <p>Please enter the user's new password</p>
                  <form action="/adminUpdatePassword" method="POST">
                    <input type="hidden" name="selectedusername" value="{{ username }}"/>        
                    <input type="password" name="new_password" class="form-control" placeholder="Enter new password here" required/>
                    <button type="submit">Submit</button>
                  </form>
                </div>
              </div>
            </td>
            <td>
              <div class="popup-container">
                <button class="btn btn-primary" onclick="toggleEditPopup()">Edit</button>
                <div class="popupedit" id="popupedit">
                  <p>Are you sure you want to edit the account detail?</p>
                  <a href="#" onclick="redirectToDifferentPage('/editprofile')">Yes</a>
                  <a href="#" onclick="toggleEditPopup()">No</a>
                </div>
              </div>
            </td>
            <td>
              <div class="popup-container">
                <button class="btn btn-primary" onclick="toggleDeletePopup()">Delete</button>
                <div class="popupd" id="popupd">
                  <p>Are you sure you want to delete your account?</p>
                  <a href="#" onclick="redirectToDifferentPage('/deleteAccount')">Yes</a>
                  <a href="#" onclick="toggleDeletePopup()">No</a>
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
</body>
{% endblock %}
