{% extends "base.html" %}
{% block title %}Account Detail{% endblock %}

{% block content %}
  <style>
    .main h2 {font-size: 30px;
    text-align:center;}
    .main .card{width:80%;
      background-color: #fff;
      margin-left:auto;
      margin-right:auto;
      padding:20px 20px 40px;}
    .main .card table {
      border: none;
      font-size: 18px;
      height: 300px;}
    .popup {
      display: none;
      position: fixed;
      padding: 10px;
      width: 280px;
      left: 50%;
      margin-left: -150px;
      height: 180px;
      top: 50%;
      margin-top: -100px;
      background: #FFF;
      border: 3px solid #F04A49;
      z-index: 20;
    }
    #popup:after {
      position: fixed;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0,0,0,0.5);
      z-index: -2;
    }
    
    #popup:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: #FFF;
      z-index: -1;
    }
    .popupd {
      display: none;
      position: fixed;
      padding: 10px;
      width: 280px;
      left: 50%;
      margin-left: -150px;
      height: 180px;
      top: 50%;
      margin-top: -100px;
      background: #FFF;
      border: 3px solid #F04A49;
      z-index: 20;
    }
    #popupd:after {
      position: fixed;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0,0,0,0.5);
      z-index: -2;
    }
    
    #popupd:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: #FFF;
      z-index: -1;
    }

  </style>
</head>
<script>
  function togglePopup() {
    var popup = document.getElementById("popup");
    if (popup.style.display === "none" || popup.style.display === "") {
      popup.style.display = "block";
    } else {
      popup.style.display = "none";
    }
  }
  
  function hidePopup() {
    var popup = document.getElementById("popup");
    popup.style.display = "none";
  }
  
  function redirectToDifferentPage() {
    // Redirect to the desired page
    window.location.href = "/editprofile";// Replace with your actual URL
  }

  function toggleDeletePopup() {
    var popup = document.getElementById("popupd");
    if (popup.style.display === "none" || popup.style.display === "") {
      popup.style.display = "block";
    } else {
      popup.style.display = "none";
    }
  }

  function redirectToDifferentPage2() {
    // Redirect to the desired page
    window.location.href = "/deleteAccount";// Replace with your actual URL
  }
  
  
  function hideDeletePopup() {
    var popup = document.getElementById("popupd");
    popup.style.display = "none";
  }
  </script>
<body>
    <div class="main">
      <h2>User Account</h2>
      <div class="card">
        <table>
          <div>
          <tr>
            <td>Role</td>
            <td>:</td>
            <td>{{role}}</td>
          </tr>
        </div>
          <tr>
            <td>Username</td>
            <td>:</td>
            <td>{{username}}</td>
          </tr>
          <tr>
            <td>Password</td>
            <td>:</td>
            <td>{{password}}</td>
            
          </tr>
          <tr>
            <td>
              <div class="popup-container">
                <button class="btn btn-primary" onclick="togglePopup()">Change password</button>     
                <div class="popup" id="popup">
                  <p>This is a popup!!!</p>
                  <p>Are you sure you want to change password?</p>
                  <a href="#" onclick="redirectToDifferentPage()">Yes</a>
                  <a href="#" onclick="hidePopup()">No</a>
                </div>
              </div>
            </td>
            <td>
              <div class="popup-container">
                <button class="btn btn-primary" onclick="toggleDeletePopup()">Delete</button>
                <div class="popupd" id="popupd">
                  <p>This is a popup!!!</p>
                  <p>Are you sure you want to delete your account?</p>
                  <a href="#" onclick="redirectToDifferentPage2()">Yes</a>
                  <a href="#" onclick="hideDeletePopup()">No</a>
                </div>
              </div>
            </td>
          </tr>
        </table>
        <div>
        </div>
      </div>
    </div>

                 
</body>

{% endblock %}
