{% extends "base.html" %}
{% block title %}Accont Detail{% endblock %}

{% block content %}
  <style>
    .main h2 {font-size: 30px;
    text-align:center;}
    .main .card{width:80%;
      background-color: #fff;
      margin-left:auto;
      margin-right:auto;
      padding:20px 20px 40px;}
    .main .card table {
      border: none;
      font-size: 18px;
      height: 300px;}
    .popup {
      display: none;
      position: fixed;
      padding: 10px;
      width: 280px;
      left: 50%;
      margin-left: -150px;
      height: 180px;
      top: 50%;
      margin-top: -100px;
      background: #FFF;
      border: 3px solid #F04A49;
      z-index: 20;
    }
    #popup:after {
      position: fixed;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0,0,0,0.5);
      z-index: -2;
    }
    
    #popup:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: #FFF;
      z-index: -1;
    }
    .popupd {
      display: none;
      position: fixed;
      padding: 10px;
      width: 280px;
      left: 50%;
      margin-left: -150px;
      height: 180px;
      top: 50%;
      margin-top: -100px;
      background: #FFF;
      border: 3px solid #F04A49;
      z-index: 20;
    }
    #popupd:after {
      position: fixed;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(0,0,0,0.5);
      z-index: -2;
    }
    
    #popupd:before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: #FFF;
      z-index: -1;
    }

  </style>
</head>
<script>
  function togglePopup() {
    var popup = document.getElementById("popup");
    if (popup.style.display === "none" || popup.style.display === "") {
      popup.style.display = "block";
    } else {
      popup.style.display = "none";
    }
  }
  
  function hidePopup() {
    var popup = document.getElementById("popup");
    popup.style.display = "none";
  }
  
  function redirectToDifferentPage() {
    // Redirect to the desired page
    window.location.href = "/editaccount";// Replace with your actual URL
  }

  function toggleDeletePopup() {
    var popup = document.getElementById("popupd");
    if (popup.style.display === "none" || popup.style.display === "") {
      popup.style.display = "block";
    } else {
      popup.style.display = "none";
    }
  }

  function deleteAccount() {
    document.getElementById("deleteForm").submit();
    }
  
  
  function hideDeletePopup() {
    var popup = document.getElementById("popupd");
    popup.style.display = "none";
  }
  </script>
<body>
    <div class="main">
      <h2>IDENTITY</h2>
      <div class="card">
        <table>
          <tr>
            <td>Username</td>
            <td>:</td>
            <td>{{username}}</td>
          </tr>
          <tr>
            <td>Name</td>
            <td>:</td>
            <td>{{name}}</td>
          </tr>
          <tr>
            <td>Surname</td>
            <td>:</td>
            <td>{{surname}}</td>
          </tr>
          <tr>
            <td>Email</td>
            <td>:</td>
            <td>{{email}}</td>
          </tr>
          <tr>
            <td>Address</td>
            <td>:</td>
            <td>{{address}}</td>
          </tr>
          <tr>
            <td>
              <div class="popup-container">
                <button class="btn btn-primary" onclick="togglePopup()">Edit</button>
                <div class="popup" id="popup">
                  <p>This is a popup!!!</p>
                  <p>Are you sure you want to edit the account detail?</p>
                  <button onclick="redirectToDifferentPage()" class="btn btn-secondary">Yes</button>
                  <button onclick="hidePopup()" class="btn btn-secondary">No</button>
                </div>
              </div>
            </td>
            <td>
              <div class="popup-container">
                <button class="btn btn-primary" onclick="toggleDeletePopup()">Delete</button>
                <div class="popupd" id="popupd">
                  <p>This is a popup!!!</p>
                  <p>Are you sure you want to delete the account?</p>
                  <form id="deleteForm" action="/delete_account" method="POST">
                    <!-- You can include any additional hidden inputs here if needed -->
                    <button type="submit">Yes</button>
                    <button onclick="hideDeletePopup()" class="btn btn-secondary">No</button>
                </form>               
                </div>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <footer class="bg-light py5 mt-5">
      <div class="container text-light text-center">
        <img src="images/sim-logo.png" alt="sim-logo"  style="width: 200px; position:absolute; bottom:0; right:0" >
        <img src="images/uow-logo.png" alt="uow-logo"  style="width: 300px; position:absolute; bottom:0; right:0; margin-bottom:-10px; margin-right:200px;">
      </div>
    </footer>             
</body>

{% endblock %}