{% extends "base.html" %}
{% block title %}Changed{% endblock %}

{% block content %}
<div class="position-relative overflow-hidden p-md-5 mt-md-5 text-center bg-cloud">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Real Estate Property.</h1>
    <p class="font-weight-bold">
      Welcome to our property website, your ultimate destination for all things real estate! Whether you're searching for your dream home, looking to sell your property, or seeking lucrative investment opportunities, we've got you covered.
    </p>
    <a class="btn btn-outline-secondary text-black" href="/about-us">About Us</a>
  </div>
</div>
{% endblock %}