{% extends "base.html" %}
{% block title %}Changed{% endblock %}

{% block content %}
<div class="position-relative overflow-hidden p-md-5 mt-md-5 text-center bg-cloud">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal">Real Estate Property.</h1>
    <p class="font-weight-bold">
      A comprehensive online platform designed to simplify the process of finding and acquiring real estate properties. Whether you're looking for your dream home, an investment property, or a commercial space, our website offers a user-friendly interface and robust search tools to help you discover the perfect property to meet your needs.
    </p>
    <a class="btn btn-outline-secondary text-black" href="/about-us">About Us</a>
  </div>
</div>
{% endblock %}