{% extends "base.html" %}
{% block title %}View All Users{% endblock %}

{% block content %}
<style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

    .container1 {
        width: 65%; 
        margin-top: 100px;
        margin-left: 380px;  
        background-color: #ffffff; 
        padding: 25px;
        border-radius: 15px;
        text-align: center;
    }

    .search {
        position: relative;
        box-shadow: 0 0 40px rgba(51, 51, 51, .1);
    }

    .search input {
        height: 60px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;
    }

    .search input:focus {
        box-shadow: none;
        border: 2px solid blue;
    }

    .search .fa-search {
        position: absolute;
        top: 20px;
        left: 16px;
    }

    .search button {
        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        width: 110px;
        background: blue;
    }

    .popup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border: 2px solid #d6d4d4;
        border-radius: 10px;
        z-index: 1000;
    }

    .popup form {
        margin-top: 10px;
    }

    .popup form button {
        background: blue;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
    }

    .popup form button:hover {
        background: darkblue;
    }

    .insertpopup {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        border: 2px solid #d6d4d4;
        border-radius: 10px;
        z-index: 1000;
    }

    .insertpopup form {
        margin-top: 10px;
    }

    .insertpopup form button {
        background: blue;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
    }

    .insertpopup form button:hover {
        background: darkblue;
    }

    .popupd {
        display: none;
        position: fixed;
        padding: 10px;
        width: 280px;
        left: 50%;
        margin-left: -150px;
        height: 180px;
        top: 50%;
        margin-top: -100px;
        background: #FFF;
        border: 3px solid #F04A49;
        z-index: 20;
      }
    .popupd:after {
        position: fixed;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(0,0,0,0.5);
        z-index: -2;
      }
    .popupd:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: #FFF;
        z-index: -1;
      }
</style>

<script>
    function togglePopup() {
        var popup = document.getElementById("popup");
        popup.style.display = (popup.style.display === "none" || popup.style.display === "") ? "block" : "none";
    }

    function toggleInsertPopup() {
        var popup = document.getElementById("insertpopup");
        popup.style.display = (popup.style.display === "none" || popup.style.display === "") ? "block" : "none";
    }

    function hidePopup() {
        var popup = document.getElementById("popup");
        popup.style.display = "none";
    }

    function inserthidePopup() {
        var popup = document.getElementById("insertpopup");
        popup.style.display = "none";
    }

    function setRole(role) {
        document.getElementById("selected_role").value = role;
        togglePopup();
    }

    function setDeleteRole(role) {
        document.getElementById("deleteselected_role").value = role;
        toggleDeletePopup();
    }

    function toggleDeletePopup() {
        var popup = document.getElementById("popupd");
        popup.style.display = (popup.style.display === "none" || popup.style.display === "") ? "block" : "none";
    }
    
</script>

<h1>View All Users Profile</h1>
<div class="container1">

    <div class="row height d-flex justify-content-center align-items-center">

        <div class="col-md-8">

          <div class="search">
            <i class="fa fa-search"></i>
            <form action="/viewSearcheduserProfile" method="POST">
            <input type="text" id="inputroles" name="inputroles" class="form-control" placeholder="Enter a User profile to search">
            <button class="btn btn-primary">Search</button>
            </form>
          </div>
          
        </div>
        
    </div>

    <div class="allUsers">
        {% for role in role_list %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div>
                    <div class="fw-bold" style="display: inline;">Role:</div>
                    <div style="display: inline;">{{ role.role }}</div>
                    <div class="fw-bold" style="display: inline;">Description:</div>
                    <div style="display: inline;">{{ role.description }}</div>
                    <div class="fw-bold" style="display: inline;">Status:</div>
                    <div style="display: inline;">{{ role.status }}</div>
                    <button class="btn btn-primary" onclick="setRole('{{ role.role }}');">Edit Description</button>
                    <button class="btn btn-primary" onclick="setDeleteRole('{{ role.role }}');">Delete role</button>
                </div>

                <div class="popup" id="popup">
                    <p>This is a popup!!!</p>
                    <p>Please enter your new description</p>
                    <form action="/updateDescription" method="POST">
                        <input type="hidden" id="selected_role" name="selected_role">
                        <input type="text" id="new_description" name="new_description" class="form-control form-control-lg" placeholder="Enter your new description here">
                        <button type="submit">Edit</button>
                    </form>
                    <button onclick="hidePopup()">Close</button>
                </div>
                
                <div class="popup-container">

                    <div class="popupd" id="popupd">
                      <p>Are you sure you want to delete your account?</p>
                      <form action="/adminDeleteProfile" method="POST">
                        <input type="hidden" id="deleteselected_role" name="deleteselected_role">
                        <button type="submit">Yes</button>
                        <a href="#" onclick="toggleDeletePopup()">No</a>
                      </form>
                    </div>
                </div>
        </li>
        {% endfor %}
    </div>
    <button class="btn btn-primary" onclick="toggleInsertPopup()">Insert</button>
    <div class="insertpopup" id="insertpopup">
        <form action="/submitNewRole" method="POST">
            <input type="text" id="role" name="role" class="form-control form-control-lg" placeholder="Enter your new role here">
            <input type="text" id="description" name="description" class="form-control form-control-lg" placeholder="Enter your new description here">
            <button type="submit">Insert</button>
        </form>
        <button onclick="inserthidePopup()">Close</button>
    </div>
</div>
{% endblock %}
