{% extends "base.html" %}
{% block title %}View All Users{% endblock %}

{% block content %}
<style>
    @import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");

    .container1 {
    width: 65%; 
    margin-top: 100px;
    margin-left: 380px;  
    background-color: #ffffff; 
    padding: 25px;
    border-radius: 15px;
    text-align: center;
    }

    .search{
       position: relative;
       box-shadow: 0 0 40px rgba(51, 51, 51, .1);
         
       }

       .search input{

        height: 60px;
        text-indent: 25px;
        border: 2px solid #d6d4d4;


       }


       .search input:focus{

        box-shadow: none;
        border: 2px solid blue;


       }

       .search .fa-search{

        position: absolute;
        top: 20px;
        left: 16px;

       }

       .search button{

        position: absolute;
        top: 5px;
        right: 5px;
        height: 50px;
        width: 110px;
        background: blue;

       }
</style>

<h1>View All Users Account</h1>

<div class="container1">
    <div class="row height d-flex justify-content-center align-items-center">

        <div class="col-md-8">

          <div class="search">
            <i class="fa fa-search"></i>
            <form action="/viewSearchedUserDetails" method="post">
            <input type="text" name="inputUsername" class="form-control" placeholder="Enter a username to search">
            <button class="btn btn-primary">Search</button>
            </form>
          </div>
          
        </div>
        
    </div>
</br>
    <div class="allUsers">
        {% if search_exist == False %}
            {% for users in users_list %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                <div>
                    <form action="/viewUserDetails" method="post">
                    <div class="fw-bold" style="display: inline;">Username:</div>
                    <div style="display: inline;">{{ users }}</div>
                    <input type="hidden" name="selectedUsername" value="{{users}}">
                    <button style="margin-left: 100px;" class="btn btn-primary" type="submit">View</button>
                    </form>
                </div>
                </div>
            </li>
            {% endfor %}
        {% else %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                <div>
                    <form action="/viewUserDetails" method="post">
                    <div class="fw-bold" style="display: inline;">Username:</div>
                    <div style="display: inline;">{{ users }}</div>
                    <input type="hidden" name="selectedUsername" value="{{users}}">
                    <button style="margin-left: 100px;" class="btn btn-primary" type="submit">View</button>
                    </form>
                </div>
                </div>
            </li>
        {% endif %}
    </div>
</div>

{% endblock %}
